body{
    font-family: 'Quicksand', sans-serif;
    /* background-color: rgb(47, 0, 70); */
    background-image: url('https://media.istockphoto.com/id/1325195247/photo/abstract-curve-and-wave-on-navy-blue-illustration-background.jpg?b=1&s=170667a&w=0&k=20&c=yyyCag_ZhD8wB4Syrddr676JFfRGIzINpDeCpabnVG4=') ;
    background-size: cover;
    color: white;
}


/* canvas {
    border: 1px solid black;
} */

.items{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    margin-left:auto;
    align-items: center;
}


.button{
    backdrop-filter: blur(8px);
    margin-bottom: 8px;
    background-color: rgba(23, 22, 22, 0.183);
}

.heading{
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom:4px solid black;
    /* background-color: rgba(210, 223, 234, 0.251); */
    backdrop-filter: blur(16px);

}


.graph{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
    background-color: rgba(23, 22, 22, 0.183);
    /* filter: blur(8px); */
    backdrop-filter: blur(16px);
}

.pie{
    border: 2px solid black;
    border-radius: 50%;
    padding: 1%;
    margin: 5%;
    background-color: rgba(23, 22, 22, 0.183);
    /* filter: blur(8px); */
    backdrop-filter: blur(16px);
}


.hist{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5%;
    margin: 5%;
    background-color: rgba(191, 241, 255, 0.266);
    /* filter: blur(8px); */
    backdrop-filter: blur(16px);
}



table {
    border:2px solid rgba(255, 255, 255, 0.256);
    border-radius:5px;

    border-collapse: collapse;
    width: 70%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {background-color: #f2f2f218;}
